$textColor: #fff;
$descriptionTextColor: #6e7373;
$borderColor: #3b3e3e;
$primaryColor: #fd735a;
$bgColor: #1e1e1e;
$bgColorSecond: #191919;
$titleText: 'Josefin Sans', sans-serif;
$text: 'Open Sans', sans-serif;