@import './src/common/styles/scss/variables';
@import './src/common/styles/scss/mixins';

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  & ul {
    width: 50%;
    display: flex;
   //  flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    list-style: none;

    & li a {
      @include text($titleText, 16px, 1.2, 1px, $descriptionTextColor, 700);
      padding-left: 30px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $borderColor;
        cursor: pointer;
      }
    }

    .active {
      color: $primaryColor;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}